{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Liste des utilisateurs et leurs tâches</h1>
        <p class="lead">Ils sont tous là, pas de pagination</p>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-4">
                <h2>Les utilisateurs <a href="#" class="add-user-btn btn btn-success"><i class="fas fa-plus"></i></a></h2>
                <table class="table table-bordered table-striped" id="users">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <a href="{{ url('task_api_get_list',{id: user.id}) }}"
                                   class="getList btn btn-sm btn-secondary" title="Voir les tâches"><i class="fas fa-list"></i></a>
                                <a data-user="{{ user.id }}" href="#" class="add-task-btn btn btn-sm btn-success" title="Ajouter une tâche"><i class="fas fa-plus"></i></a>
                                <a class="btn btn-sm btn-danger delete-user-btn"  href="{{ url('user_api_delete',{id: user.id}) }}" title='Supprimer un utilisateur et ses tâches'><i class='fas fa-trash'></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <h2>Les tâches </h2>
                <table class="table table-bordered table-striped" id="tasks">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Etat</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="5">Cliquez le bouton <i class="fas fa-list"></i> d'un utilisateur</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('user') }}
    {{ encore_entry_script_tags('task') }}
{% endblock %}